:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 192 192 192;
  --oui-color-primary-light: 231 197 75;
  --oui-color-primary-darken: 231 197 75;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 160 160 160;
  --oui-color-link-light: 192 192 192;

  --oui-color-secondary: 231 197 75;
  --oui-color-tertiary: 150 150 150;
  --oui-color-quaternary: 90 90 90;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 255 140 170;
  --oui-color-danger-darken: 200 60 100;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 80 255 190;
  --oui-color-success-darken: 30 180 130;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 220 100;
  --oui-color-warning-darken: 200 160 50;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 30 30 30;
  --oui-color-fill-active: 25 25 25;

  --oui-color-base-1: 88 88 88;
  --oui-color-base-2: 80 80 80;
  --oui-color-base-3: 72 72 72;
  --oui-color-base-4: 64 64 64;
  --oui-color-base-5: 56 56 56;
  --oui-color-base-6: 48 48 48;
  --oui-color-base-7: 40 40 40;
  --oui-color-base-8: 32 32 32;
  --oui-color-base-9: 24 24 24;
  --oui-color-base-10: 16 16 16;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 50 50 50;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 192 192 192;
  --oui-gradient-primary-end: 160 160 160;

  --oui-gradient-secondary-start: 90 90 90;
  --oui-gradient-secondary-end: 150 150 150;

  --oui-gradient-success-start: 41 233 169;
  --oui-gradient-success-end: 30 180 130;

  --oui-gradient-danger-start: 245 97 139;
  --oui-gradient-danger-end: 200 60 100;

  --oui-gradient-brand-start: 192 192 192;
  --oui-gradient-brand-end: 160 160 160;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 209 70;
  --oui-gradient-warning-end: 200 160 50;

  --oui-gradient-neutral-start: 10 10 10;
  --oui-gradient-neutral-end: 30 30 30;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}